Repository voxpupuli/puppet-bacula, pull requests merged in 2022-10, with the labels that each got.

#178 modulesync 5.3.0
  Rakefile
Labels: modulesync

#177 Allow up-to-date dependencies
  metadata.json
Labels: enhancement

#179 release 6.0.0
  CHANGELOG.md
  HISTORY.md
  metadata.json
Labels: skip-changelog
