Repository voxpupuli/puppet-bacula, pull requests merged in 2024-04, with the labels that each got.

#197 Add Debian 12 support
  metadata.json
Labels: enhancement

#198 Drop Debian 10 support
  metadata.json
Labels: backwards-incompatible

#200 Drop Ubuntu 18.04 support
  metadata.json
Labels: backwards-incompatible

#201 Add CentOS 9 support
  metadata.json
Labels: enhancement

#202 Add RedHat 9 support
  metadata.json
Labels: enhancement

#204 modulesync 7.4.0
  .github/CONTRIBUTING.md
  .gitignore
  .msync.yml
  Dockerfile
Labels: modulesync

#205 modulesync 7.5.0
  .msync.yml
Labels: modulesync
