Repository voxpupuli/puppet-bacula, pull requests merged in 2025-01, with the labels that each got.

#220 Adopt new service names on FreeBSD
  data/os/FreeBSD.yaml
Labels: bug

#193 Improve data types
  REFERENCE.md
  manifests/client.pp
  manifests/director.pp
  manifests/director/client.pp
  manifests/director/fileset.pp
  manifests/director/job.pp
  manifests/director/pool.pp
  manifests/director/postgresql.pp
  manifests/director/storage.pp
  manifests/init.pp
  manifests/job.pp
  manifests/jobdefs.pp
  manifests/messages.pp
  manifests/schedule.pp
  manifests/storage.pp
  manifests/storage/device.pp
  types/password.pp
Labels: enhancement

#211 Add support for FreeBSD 14
  metadata.json
Labels: enhancement

#222 Release 8.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
